/*------- Tags -------*/

/* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */


html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #935d8c;
	background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	line-height: 1;
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
	background-color: #935d8c;
	color: rgba(255, 255, 255, 0.65);
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17pt;
	font-weight: 300;
	line-height: 1.65;
}

/* Star means Selects All Elements */
*, *:before, *:after {
		box-sizing: inherit;
	}

ol, ul{
	list-style: none;
}

a{
	-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
	transition: color 0.2s ease, border-bottom 0.2s ease;
	text-decoration: none;
	border-bottom: dotted 1px;
	color: inherit;
}

a:hover{
	border-bottom-color: transparent;
	color: #FFF;
}

strong, b {
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p{
	margin: 0 0 2em 0;
}

p.content {
	-moz-columns: 20em 2;
	-webkit-columns: 20em 2;
	-ms-columns: 20em 2;
	columns: 20em 2;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	-ms-column-gap: 2em;
	column-gap: 2em;
	text-align: justify;
}

h1{
	font-size: 2.5em;
	line-height: 1.2;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 0.7em 0;
	letter-spacing: -0.025em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

/*-------- IDs --------*/
#container{
	width: 64em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}

#header{

}

#intro{

}

#footer{

}


/*------- Classes -------*/
.preload{
	
}

.alt{

}

.main{

}

/* Repeatedly Uses Spotlight */
.spotlight{

}

.content{

}

.major{

}

/* Repeatedly Uses Actions */
.actions{

}

.button{

}

/* Image Class */
.image{

}

.features{

}

/* Repeatedly Uses OOP Projects */
.oop-projects{

}

/* The Java Projects */
.java1{

}

.java2{

}

.java3{

}

.java4{

}

.java5{

}

.primary{

}

.copyright{
	
}